.desktop {
    background-color: #7c7c7c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #7c7c7c;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .ellipse {
    position: absolute;
    width: 720px;
    height: 1024px;
    top: 0;
    left: 720px;
  }
  
  .desktop .frame {
    display: flex;
    width: 279px;
    height: 63px;
    align-items: center;
    position: absolute;
    top: 210px;
    left: 98px;
  }
  
  .desktop .istockphoto {
    position: relative;
    width: 110px;
    height: 62px;
    object-fit: cover;
  }
  
  .desktop .FITNESSGYM {
    position: relative;
    width: fit-content;
    margin-left: -26px;
    font-family: "Saira Condensed-ExtraBold", Helvetica;
    font-weight: 800;
    color: transparent;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper {
    color: #ffffff;
  }
  
  .desktop .span {
    color: #f78500;
  }
  
  .desktop .frame-2 {
    display: flex;
    width: 435px;
    align-items: center;
    gap: 76px;
    padding: 7px 14px;
    position: absolute;
    top: 296px;
    left: 139px;
    background-color: #efefef;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .desktop .vector {
    position: relative;
    width: 35px;
    height: 35px;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: 176px;
    height: 23px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #7c7c7ccc;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .p {
    position: absolute;
    width: 265px;
    top: 367px;
    left: 238px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: absolute;
    top: 413px;
    left: 135px;
  }
  
  .desktop .div-wrapper {
    display: flex;
    width: 435px;
    height: 45px;
    align-items: center;
    gap: 76px;
    padding: 7px 14px;
    position: relative;
    background-color: #efefef;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: 225px;
    height: 23px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #7c7c7c80;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .frame-5 {
    position: relative;
    width: 29px;
    height: 26px;
    background-color: #efefef;
    border-radius: 5px;
  }
  
  .desktop .i-agree-to-the-terms {
    position: relative;
    width: 353px;
    height: 46px;
    margin-top: -1.00px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-4 {
    color: #4285f4;
    text-decoration: underline;
  }
  
  .desktop .frame-6 {
    display: flex;
    width: 439px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f78500;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .desktop .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .close-round {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 8px;
    left: 12px;
  }
  